link(rel="stylesheet", href="../../public/assets/css/header.css")
header
  nav.navbar 
    a.hyperlink(href="/api/restaurants")
      h1.title Restaurant Finder* 
    ul.menu 
      li.menu-item Filter
      li.menu-item 
        a.hyperlink(href="/api/addNewRestaurant") Add 