link(rel="stylesheet", href="../../public/assets/css/landing.css")
link(rel="icon", type="image/x-icon", href="/public/assets/images/favicon.png")
link(rel="preconnect", href="https://fonts.googleapis.com")
link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
link(href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap", rel="stylesheet")
link(href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Pacifico&display=swap", rel="stylesheet")
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Login Page
  body.body
    include ../partials/header
    main
      h1.title Welcome to Login for Lunch
      div.form-container
        img.chef(src="../../public/assets/images/chef.png" alt="chef")
        fieldset.form
            form.login-form(action="/login", method="post")
                label.form-label(for="email") Email:
                input.form-input(type="text", id="email", name="email", required)
                label.form-label(for="password") Password:
                input.form-input(type="password", id="password", name="password", required)
                button.login-button(type="submit") Login
            p.register-link Don't have an account? 
                a(href="/registration") Register
        if (query === 'registrationSuccess=true')
          p.valid-notification Registration successful!
        if (query.error === 'invalidCredentials')
          p.invalid-notification Invalid credentials. Please try again.
    include ../partials/footer
    script.
      document.addEventListener('DOMContentLoaded', function() {
        document.querySelector('form').addEventListener('submit', async function(event) {
            event.preventDefault();

            const emailElement = document.getElementById('email');
            const passwordElement = document.getElementById('password');

            if (emailElement && passwordElement) {
                const email = emailElement.value;
                const password = passwordElement.value;

                console.log('Email:', email);

                try {
                    const response = await fetch('/login', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({ email, password }),
                    });

                    if (response.ok) {
                      const data = await response.json();
                      const token = data.token; // Assuming your server sends the token in the response

                      try {
                          const authenticatedResponse = await fetch('/api/restaurants', {
                              headers: {
                                  'Authorization': `Bearer ${token}`,
                              },
                          });

                          if (authenticatedResponse.ok) {
                              // Handle the successful response
                              const responseData = await authenticatedResponse.json();
                              console.log('Response Data:', responseData);
                          } else {
                              // Handle error responses
                              const errorData = await authenticatedResponse.json();
                              console.error('Fetch Error:', errorData);
                          }
                      } catch (error) {
                          console.error('Fetch Error:', error);
                      }

                      // The login was successful; handle the redirect on the client side
                      window.location.href = '/api/restaurants';
                    } else {
                        // Handle error responses as needed
                        const data = await response.json();
                        console.error('Login Error:', data.error);
                    }
                } catch (error) {
                    // Handle fetch errors
                    console.error('Fetch error:', error);
                }
            } else {
                console.error('Email or password element not found');
            }
        });
      });