/* NAVBAR */
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #0e0d0d;
    box-shadow: -2px 5px 5px -2px rgba(0,0,0,1);
}
.logo {
    width: 50px;
    height: 50px;
    margin: 0.5rem;
}
.logo-title-container {
    display: flex;
}
.menu {
    display: flex;
    list-style: none;
    margin: 1rem;
    align-items: center;
}
.menu-item{
    margin: 0 1rem;
    cursor: pointer;
    color: rgb(216, 153, 6);
}
.hyperlink {
    text-decoration: none;
    color: rgb(216, 153, 6);
}
.header-title {
    margin: 1rem;
    display: inline;
}
.grow { transition: all .2s ease-in-out; }
.grow:hover { 
    transform: scale(2); 
    border-bottom: 3px solid rgb(216, 153, 6);
}