/* NAVBAR */
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #0e0d0d;
}
.menu {
    display: flex;
    list-style: none;
    margin: 1rem;
}
.menu-item{
    margin: 0 1rem;
    cursor: pointer;
    color: rgb(216, 153, 6);
}
.hyperlink {
    text-decoration: none;
    color: rgb(216, 153, 6);
}
.title {
    margin: 1rem;
}