body {
    margin: 0;
    background: url(https://img.freepik.com/premium-vector/fast-food-seamless-pattern-delicious-food-colored-ornament-cartoon-vector-illustration-modern-design-decor-wallpaper-background-textile_534604-531.jpghttps://img.freepik.com/premium-vector/cute-fast-food-cartoon-seamless-pattern-background-wallpaper_40564-113.jpg);
}
.title {
    text-align: center;
    font-family: 'Pacifico', cursive;
    font-size: 3rem;
    letter-spacing: 0.5rem;
    color: rgb(66, 41, 16);
    animation: shake 0.5s;
    animation-iteration-count: 2s;
}
.form {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    font-family: 'Abril Fatface', serif;
    display: flex;
    flex-direction: column;
    margin: 1rem auto 5rem;
    padding: 1.5rem;
    width: 20%;
}
.form-label {
    font-size: 1.5rem;
}
.form-input {
    margin-bottom: 1rem;
    height: 2rem;
}
.login-button {
    padding: 15px 25px;
    background-color: black;
    color: rgb(216, 153, 6);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
    display: block;
    margin: 1rem auto;
}
.login-button:hover {
    background-color: rgb(216, 153, 6);
    color: #000;
}
.login-form {
    display: flex;
    flex-direction: column;
}
.form-container {
    display: relative;
}
.chef {
    display: block;
    position: absolute;
    top: 40%;
    left: 30%;
    z-index: 1;
    width: 15%;
    height: auto;
}
.register-link {
    margin: 0 auto;
}