body {
    margin: 0;
    background: url(https://img.freepik.com/premium-vector/fast-food-seamless-pattern-delicious-food-colored-ornament-cartoon-vector-illustration-modern-design-decor-wallpaper-background-textile_534604-531.jpghttps://img.freepik.com/premium-vector/cute-fast-food-cartoon-seamless-pattern-background-wallpaper_40564-113.jpg);
}
.title {
  text-align: center;
  font-family: 'Pacifico', cursive;
  font-size: 3rem;
  letter-spacing: 0.5rem;
  color: rgb(66, 41, 16);
  animation: shake 0.5s;
  animation-iteration-count: 2s;
}
.search-input {
  text-align: center;
  background-color: white; 
  border: 1px solid #ccc;
}

.search-input::placeholder {
  text-align: center;
}

.search-input:focus::placeholder,
.search-input:active::placeholder {
  text-align: center;
  opacity: 0.7; 
}
.search-input:focus,
.search-input:active {
  outline: none;
  border-color: rgb(216, 153, 6); 
  box-shadow: 0 0 5px rgb(216, 153, 6); 
}
.search-form-container {
  display: flex;
  justify-content: center;
  margin: 0 5rem;
}
.search-form {
  display: block;
}
.search-input {
  padding: 15px 250px;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 20px;
  margin: 1rem auto;
  display: block;
}
.search-button {
  padding: 15px 25px;
  background-color: black;
  color: rgb(216, 153, 6);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
  display: block;
  margin: 1rem auto;
}
.search-button:hover {
  background-color: rgb(216, 153, 6);
  color: #000;
}
.none-notification {
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
  font-family: 'Abril Fatface', serif;
  color: rgb(66, 41, 16);
  letter-spacing: 0.2rem;
}

.restaurant-card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
  justify-content: center;
}

.restaurant-card {
  padding: 10px;
  margin-bottom: 10px;
  width: 25%;
  list-style: none;
  margin: 1rem;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  font-family: 'Abril Fatface', serif;
  letter-spacing: 0.1rem;
}

.restaurant-details {
  font-weight: bold;
}

.restaurant-actions {
  display: flex;
  justify-content: end;
  margin-top: 10px;
}

.update-button, .delete-button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 0.5rem 0 0.5rem
}

.delete-button {
  background-color: #f44336;
}

.card-grow { transition: all .2s ease-in-out; }
.card-grow:hover { 
    transform: scale(1.1); 
    border-bottom: 3px solid rgb(34, 34, 34, 0.2);
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}